<ion-header no-border>
  <div class="div_header">
  </div>
  <ion-toolbar transparent>
    <ion-buttons *ngIf="exit" slot="secondary">
      <ion-button color="light" (click)="close_modal()">
        <ion-icon style="zoom:1.5;" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <form action="">
    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-card-title style="font-size: 25px !important;margin: 0px"><b>Ingrese su nueva contraseña</b>
          </ion-card-title>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="n_password" name="n_password" #searchInput [type]="type"
            placeholder="Ingrese su nueva contraseña">
            <ion-buttons style="position: absolute;right: 0rem;">
              <ion-button (click)="type_password()" color="dark">
                <ion-icon [name]="icono"></ion-icon>
              </ion-button>
            </ion-buttons>

          </ion-input>
        </ion-item>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-card-title style="font-size: 25px !important;margin: 0px"><b>Confirme su contraseña</b></ion-card-title>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="c_password" name="c_password" [type]="type" placeholder="Confirme su contraseña">
            <ion-buttons style="position: absolute;right: 0rem;">
              <ion-button (click)="type_password()" color="dark">
                <ion-icon [name]="icono"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-input>
        </ion-item>
      </ion-card-header>
    </ion-card>
    <div class="ion-padding">
      <button style="margin: 0px;font-size: 20px" (click)="clickReset()" class="ripple"><b>CAMBIAR
          CONTRASEÑA</b></button>
    </div>
  </form>
</ion-content>