ion-card {
  --background: white;
  border-radius: 10px 10px 10px 10px;
  // border-left: 5px solid #85b9dd !important;
}

ion-card-header {
  padding: 5px;
}

.toolbar {
  position: absolute;
  top: 1px;
  z-index: 3;
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-item {
  --highlight-color-valid: transparent;
  --highlight-color-invalid: transparent;
  --highlight-color-focused: transparent;
  --border-color: transparent;
  --background: transparent;
}


.div_header {
  height: 80px;
  background-image: linear-gradient(#4c62ab, white);
  display: flex;
  justify-content: center;
  align-items: center;
}


ion-input {
  font-size: 20px;
}

ion-button {
  font-weight: bold;
  height: 45px;
  border-radius: 10px;
  font-size: 15px;
}

ion-footer {
  -webkit-transition: transform 0.3s linear, height 0.3s linear;
  -o-transition: transform 0.3s linear, height 0.3s linear;
  transition: transform 0.3s linear, height 0.3s linear;
  &.hide {
    transform: translateY(56px);
    height: 0px;
  }
}

/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #4c62ab radial-gradient(circle, transparent 1%, #4c62ab 1%)
    center/15000%;
}
.ripple:active {
  background-color: #435696;
  background-size: 100%;
  transition: background 0s;
}

/* Button style */
button {
  font-size: 15px;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: #435696;
  box-shadow: 0 3px 3px #dadada;
  outline: none;
}

button:disabled,
button[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  // border: 1px solid #999999;
  background-color: #bbcafa;
  color: white;
}

ion-toolbar {
  position: absolute;
  top: 1px;
  z-index: 3;
  --background: transparent;
  --ion-color-base: transparent !important;
}