<ion-header no-border>
    <div class="div_header">
    </div>
    <ion-toolbar transparent>
        <ion-buttons slot="secondary">
            <ion-button color="light" (click)="close_modal()">
                <ion-icon style="zoom:1.5;" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>
    <div>
        <p text-center>Proyecto</p>
        <ion-title text-center><b>Reporte Hidro - Meteorologico</b></ion-title>
        <p text-center>Version <b>2.0.0</b></p>
        <p text-center>Copyrigth © <b>2019</b></p>
        <p text-center><a href="https://www.senamhi.gob.pe"><b>https://www.senamhi.gob.pe</b></a></p>
        <img src="assets/img/senamhi-logo.png" style="width: 50%;display:block;margin:auto;">
    </div>
</ion-content>