<ion-header no-border>
    <ion-toolbar color="senamhi">
        <ion-buttons slot="start">
            <ion-button (click)="ModalUser()" fill="clear" color="light">
                <ion-icon slot="icon-only" name="contact"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="ModalInfo()" fill="clear" color="light">
                <ion-icon slot="icon-only" name="help-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <div class="div_header"></div>
    <div style="width: 100%;position: absolute; top: 40px; z-index: 3;padding: 10px;">

        <ion-card>
            <ion-grid fixed class="ion-no-padding">
                <ion-row class="ion-align-items-center">
                    <ion-col size="8">
                        <ion-card-header>
                            <ion-card-title style="font-size: 15px !important;margin: 0px">{{ genero }}</ion-card-title>
                            <ion-card-title class="ion-text-capitalize" style="font-size: 22px !important;margin: 0px">
                                <b>{{observador}}</b>
                            </ion-card-title>
                        </ion-card-header>
                    </ion-col>
                    <ion-col size="4">
                        <ion-card-header>
                            <img [src]="sexo">
                        </ion-card-header>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
    </div>
</ion-header>

<ion-content style="top: 5%">
    <!-- Custom Refresher Content -->
    <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Tire para actualizar" refreshingSpinner="circles"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher> -->
    <div>
        <ion-card style="background: #4c62ab !important" *ngFor="let estacion of estaciones" class="card ripple-parent" (click)="detailAlert(estacion?.V_COD_TIPO,estacion?.V_COD_ESTA)">
            <ion-card-header class="ion-activatable">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-grid class="ion-no-padding">
                    <ion-row>
                        <ion-col class="ion-no-padding">
                            <ion-card-subtitle style="font-size: 15px !important;margin: 0px;color:white;">Estación
                            </ion-card-subtitle>
                            <ion-card-title style="font-size: 25px !important;margin: 0px;color:white;">
                                <b>{{estacion?.V_NOM_ESTA}}</b>
                            </ion-card-title>
                        </ion-col>
                    </ion-row>
                    <ion-row class="ion-text-capitalize">
                        <ion-col class="ion-text-capitalize" class="ion-no-padding">
                            <ion-card-title class="ion-text-capitalize" style="font-size: 25px !important;margin: 0px;;color:white;">
                                <b>({{estacion?.DESC_TIPO_ESTA}})</b>
                            </ion-card-title>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-header>
        </ion-card>
    </div>

    <!-- <ion-card class="card" *ngFor="let x of mySMS" (click)="deleteMessage(x._id)">
    <ion-card-header class="ion-activatable">
      <ion-ripple-effect></ion-ripple-effect>
      <ion-card-title>{{x.address}}</ion-card-title>
    </ion-card-header>
  </ion-card> -->


</ion-content>