ion-content {
    // --background: rgba(240, 248, 255, 0.18) !important;
    --background: transparent;
    // --background: red;
}

ion-button {
    height: 45px;
    width: 300px;
}

.padre {
    margin-top: 30% !important;
    // background: yellow;
    // height: 150px;
    // /*IMPORTANTE*/
    // display: flex;
    // justify-content: center;
    // align-items: center;
}