<ion-content transparent>
    <div class="padre">
        <div text-center class="hijo">
            <ion-grid fixed>
                <ion-row>
                    <ion-col size="12">
                        <h1><b style="color: white">
                Por su seguridad
                es recomendable
                cambiar su
                contraseña
              </b>
                        </h1>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <img src="assets/img/password.svg" width="50%">
                    </ion-col>
                </ion-row>
                <ion-row style="padding-top: 10%">
                    <ion-col size="12">
                        <ion-button (click)="PageReset()" color="senamhi" fill="solid">CAMBIAR CONTRASEÑA</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>